$Bili-color: #00a1d6;
.chief-module{
  .recommend-box{
    height: 35vh;
    position: relative;
    overflow: hidden;
    &:before{
      content: "";
      display: table;
    }
    &:after{
      content: "";
      display: table;
      clear: both;
      overflow: hidden;
    }
  }
  .groom-module{
    float: left;
    margin: 0 0 3vh 1.2vw;
  }
}
.groom-module{
  width: 10.5vw;
  height: 16vh;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  .video-pic{
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  .card-mask{
    position: absolute;
    left: 0;
    top: 12vh;
    height: 5vh;
    width: 9.5vw;
    line-height: 1.5vw;
    padding: 1vh .5vw;
    overflow: hidden;
    background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
    .card-title{
      color: #fff;
      height: 6vh;
      overflow: hidden;
      margin-bottom: .75vh;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
  .card-ap{
    opacity: 0;
    color: #99a2aa;
    height: 3vh;
    line-height: 3vh;
    overflow: hidden;
    transition: all .6s;
  }
  &:hover .card-mask {
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    .card-ap {
      opacity: 1;
    }
  }
}
.watcher{
  display: none;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  bottom: 4px;
  cursor: pointer;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABT0lEQVQ4je3VMYrCQBTG8b/DWASLNKJgJ1hY2sloZeF2gkeYW+wZvIVXsLBJY5UdtLJLk17EIghCwChukWRxFzSaaLdfMwm8/EgemTclgOl02gEmwAAoky8RsAA+tdbrUoJ+AVZO8G9CoCeJ39Sq1+sopbBtO5e23+8xxrDdbi1gIog/vxAKYNs2Sqn0diBIenoP9X2fIAgyccv66WZZZBXvdjtc18UYkwlfJxM+n8+/1pfBefMPPw4LEZcEQcBqteJ0Or0GrlartFotLpcLnucxm83YbDbFYSEE/X6f4XBIpVLhcDjgOA6u63I8HvPDaRqNBuPxmHa7DcS7cT6f36yXj8IAUkq63S7NZpPlcomUtx9/Ck5Tq9UYjUZ3a976u0UQz9OiCcMwvYwk8XHyYYxBKXU9+p5Grybg4m1Hk9Bar4Ee4JC0JWeixOhprdffE/1yRW/TLMYAAAAASUVORK5CYII=");
}
.groom-module{
  &:hover .watcher{
    display: block;
  }
}
.rec-btn{
  opacity: 0;
  position: absolute;
  background-color: rgba(0,0,0,.6);
  background-repeat: no-repeat;
  background-image: url("https://s1.hdslb.com/bfs/static/jinkela/home/asserts/icons2.png");
  width: 1.2vw;
  top: 50%;
  margin-top: -1vh;
  cursor: pointer;
  color: #fff;
  text-align: center;
  transition: all .3s;
}
.prev{
  left: 1.2vw;
  border-radius: 0 4px 4px 0;
  padding: 13px 5px 13px 10px;
  background-position: 6px -1211px;
}
.next{
  right: .2vw;
  border-radius: 4px 0 0 4px;
  padding: 13px 10px 13px 5px;
  background-position: 25px -1262px;
}
.recommend-box{
  &:hover .rec-btn{
    opacity: 1;
  }
}
.panel{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  .roll-pic{
    z-index: 1;
    position: relative;
    li{
      position: absolute;
      a{
        display: inline-block;
        img{
          width: 29vw;
          height: 35vh;
        }
      }
      .more-text{
        position: absolute;
        right: 1vw;
        bottom: 5vh;
        color: #fff;
        background: rgba(0,0,0,.64);
        width: 3.5vw;
        height: 3.5vh;
        line-height: 24px;
        text-align: center;
        border-radius: 4px;
        opacity: 0;
        transition: all .2s linear;
        &:after{
          content: "";
          display: inline-block;
          width: 6px;
          height: 12px;
          margin: -2px 0 0 5px;
          vertical-align: middle;
          background: url("https://static.hdslb.com/images/base/icons.png") -541px -218px;
        }
        &:hover{
          text-shadow: 0 0 3px #fff;
        }
      }
      &:hover .more-text{
        opacity: 1;
      }
    }
    .scrollx{
      float: left;
      transition: all .2s;
    }
    .on{
      z-index: 200;
      opacity: 1;
    }
    .off{
      opacity: 0;
      transform: translateX(-29vw);
      transition: all .5s;
    }
  }
  .roll-title{
    z-index: 201;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: -webkit-linear-gradient(transparent,rgba(0,0,0,.5));
    font-size: 14px;
    li{
      position: absolute;
      width: 100%;
      a{
        position: absolute;
        width: 100%;
        color: #fff;
        padding-left: 10px;
        opacity: 0;
        z-index: -1;
        transition: all .3s;
      }
      .on{
        opacity: 1;
        z-index: 1;
      }
    }
  }
  .trig{
    position: absolute;
    z-index: 202;
    bottom: 6px;
    right: 20px;
    span{
      width: 18px;
      height: 18px;
      background-position: -855px -790px;
      background-color: transparent;
      background-image: url("https://static.hdslb.com/images/base/icons.png");
      &:hover{
        background-position: -919px -790px;
      }
      }
    }
}
.trig span{
  display: inline-block;
  margin-left: 8px;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}
.carousel-module .panel .trig{
  .on{
    background-position: -855px -727px;
    width: 18px;
    height: 18px;
  }
}
.popularize-module{
  margin-bottom: 1vh;
  .headline{
    padding: 0 0 1vh;
    .icon-popular{
      width: 3vw;
      height: 7vh;
      margin-right: .5vw;
      vertical-align: middle;
      float: left;
      margin-top: -1.5vh;
      background-image: url("https://static.hdslb.com/images/base/icons.png");
      background-position: -141px -75px;
    }
    span{
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      margin-right: 1.5vw;
      float: left;
    }
    .fire{
      margin-top: 1vh;
      margin-left: 1vw;
      padding-right: 1vw;
      color: #6d757a;
      float: left;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        height: 15px;
        right: 0;
        top: 2px;
        border-right: 1px solid #ccc;
      }
    }
  }
  .story-box{
    height: 23vh;
    overflow: hidden;
    .spread-module{
      position: relative;
      width: 10.5vw;
      height: 20vh;
      float: left;
      margin: 0 1.3vw 2.4vh 0;
      a img{
        vertical-align: middle;
        width: 10.5vw;
        height: 14vh;
        border-radius: 4px;
      }
      .spread-mask{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 10.5vw;
        height: 14vh;
        background: rgba(0,0,0,.2);
        transition: opacity .3s;
        .dis{
          display: block;
        }
      }
      .t{
        padding-top: 1vh;
        height: 5vh;
        line-height: 20px;
        transition: all .2s linear;
        color: #222;
        overflow: hidden;
        text-align: left;
      }
      &:hover .spread-mask{
        opacity: 1;
      }
      &:hover .t{
        color: $Bili-color;
      }
    }
  }
  .online{
    position: relative;
    height: 5vh;
    line-height: 34px;
    padding: 0 1vw;
    border-radius: 4px;
    text-align: center;
    background: #e5e9ef;
    white-space: nowrap;
    a{
      color: #6d757a;
    }
    em{
      display: inline-block;
      border-left: 1px solid #b8c0cc;
      height: 10px;
      line-height: 10px;
      margin: 12px 15px 0;
      vertical-align: top;
      font-style: normal;
      font-weight: 400;
    }
  }
  .adpos{
    margin-top: 1.5vh;
    border-radius: 4px;
    overflow: hidden;
    width: 17vw;
    height: 20vh;
    position: relative;
    a img{
      width: 100%;
      height: 100%;
    }
  }
}
.bili_mid{
  .l-con{
    float: left;
    width: 59vw;
  }
  .r-con{
    width: 17vw;
    float: right;
  }
}
.zone-wrap-module{
  margin-bottom: 2vh;
}
.adv-module{
  margin-bottom: 20px;
  position: relative;
  width: 76vw;
  border-radius: 5px;
  max-height: 20vh;
  img{
    width: 100%;
    height: 100%;
  }
}
.live-module{
  .zone-title{
    padding-right: 3vw;
    .headline{
      padding: 0 0 1vw;
      i{
        width: 3vw;
        height: 7vh;
        margin-right: .6vw;
        vertical-align: middle;
        float: left;
        margin-top: -1.5vh;
        background-image: url("https://static.hdslb.com/images/base/icons.png");
        background-position: -141px -652px;
      }
      .z-name{
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        margin-right: 1.3vw;
        float: left;
        color: #222;
        &:hover{
          color: $Bili-color;
        }
      }
      .online{
        float: left;
        margin-top: 1vh;
        color: #99a2aa;
        span{
          color: $Bili-color;
        }
      }
      .z-fire{
        margin-top: 1vh;
        margin-left: 3vw;
        padding-right: 1vw;
        color: #6d757a;
        float: left;
        i{
          display: inline-block;
          vertical-align: top;
          background-position: -665px -1113px;
          width: 14px;
          height: 14px;
          margin-top: 1px;
          background-image: url("https://static.hdslb.com/images/base/icons.png");
        }
        &:hover{
          color: $Bili-color;
        }
      }
    }
  }
}