.chief-module .recommend-box {
  height: 35vh;
  position: relative;
  overflow: hidden; }
  .chief-module .recommend-box:before {
    content: "";
    display: table; }
  .chief-module .recommend-box:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden; }

.chief-module .groom-module {
  float: left;
  margin: 0 0 3vh 1.2vw; }

.groom-module {
  width: 10.5vw;
  height: 16vh;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #fff; }
  .groom-module .video-pic {
    vertical-align: middle;
    width: 100%;
    height: 100%; }
  .groom-module .card-mask {
    position: absolute;
    left: 0;
    top: 12vh;
    height: 5vh;
    width: 9.5vw;
    line-height: 1.5vw;
    padding: 1vh .5vw;
    overflow: hidden;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.9)); }
    .groom-module .card-mask .card-title {
      color: #fff;
      height: 6vh;
      overflow: hidden;
      margin-bottom: .75vh;
      word-break: break-all;
      word-wrap: break-word; }
  .groom-module .card-ap {
    opacity: 0;
    color: #99a2aa;
    height: 3vh;
    line-height: 3vh;
    overflow: hidden;
    transition: all .6s; }
  .groom-module:hover .card-mask {
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
    .groom-module:hover .card-mask .card-ap {
      opacity: 1; }

.watcher {
  display: none;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  bottom: 4px;
  cursor: pointer;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABT0lEQVQ4je3VMYrCQBTG8b/DWASLNKJgJ1hY2sloZeF2gkeYW+wZvIVXsLBJY5UdtLJLk17EIghCwChukWRxFzSaaLdfMwm8/EgemTclgOl02gEmwAAoky8RsAA+tdbrUoJ+AVZO8G9CoCeJ39Sq1+sopbBtO5e23+8xxrDdbi1gIog/vxAKYNs2Sqn0diBIenoP9X2fIAgyccv66WZZZBXvdjtc18UYkwlfJxM+n8+/1pfBefMPPw4LEZcEQcBqteJ0Or0GrlartFotLpcLnucxm83YbDbFYSEE/X6f4XBIpVLhcDjgOA6u63I8HvPDaRqNBuPxmHa7DcS7cT6f36yXj8IAUkq63S7NZpPlcomUtx9/Ck5Tq9UYjUZ3a976u0UQz9OiCcMwvYwk8XHyYYxBKXU9+p5Grybg4m1Hk9Bar4Ee4JC0JWeixOhprdffE/1yRW/TLMYAAAAASUVORK5CYII="); }

.groom-module:hover .watcher {
  display: block; }

.rec-btn {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-image: url("https://s1.hdslb.com/bfs/static/jinkela/home/asserts/icons2.png");
  width: 1.2vw;
  top: 50%;
  margin-top: -1vh;
  cursor: pointer;
  color: #fff;
  text-align: center;
  transition: all .3s; }

.prev {
  left: 1.2vw;
  border-radius: 0 4px 4px 0;
  padding: 13px 5px 13px 10px;
  background-position: 6px -1211px; }

.next {
  right: .2vw;
  border-radius: 4px 0 0 4px;
  padding: 13px 10px 13px 5px;
  background-position: 25px -1262px; }

.recommend-box:hover .rec-btn {
  opacity: 1; }

.panel {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }
  .panel .roll-pic {
    z-index: 1;
    position: relative; }
    .panel .roll-pic li {
      position: absolute; }
      .panel .roll-pic li a {
        display: inline-block; }
        .panel .roll-pic li a img {
          width: 29vw;
          height: 35vh; }
      .panel .roll-pic li .more-text {
        position: absolute;
        right: 1vw;
        bottom: 5vh;
        color: #fff;
        background: rgba(0, 0, 0, 0.64);
        width: 3.5vw;
        height: 3.5vh;
        line-height: 24px;
        text-align: center;
        border-radius: 4px;
        opacity: 0;
        transition: all .2s linear; }
        .panel .roll-pic li .more-text:after {
          content: "";
          display: inline-block;
          width: 6px;
          height: 12px;
          margin: -2px 0 0 5px;
          vertical-align: middle;
          background: url("https://static.hdslb.com/images/base/icons.png") -541px -218px; }
        .panel .roll-pic li .more-text:hover {
          text-shadow: 0 0 3px #fff; }
      .panel .roll-pic li:hover .more-text {
        opacity: 1; }
    .panel .roll-pic .scrollx {
      float: left;
      transition: all .2s; }
    .panel .roll-pic .on {
      z-index: 200;
      opacity: 1; }
    .panel .roll-pic .off {
      opacity: 0;
      transform: translateX(-29vw);
      transition: all .5s; }
  .panel .roll-title {
    z-index: 201;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    font-size: 14px; }
    .panel .roll-title li {
      position: absolute;
      width: 100%; }
      .panel .roll-title li a {
        position: absolute;
        width: 100%;
        color: #fff;
        padding-left: 10px;
        opacity: 0;
        z-index: -1;
        transition: all .3s; }
      .panel .roll-title li .on {
        opacity: 1;
        z-index: 1; }
  .panel .trig {
    position: absolute;
    z-index: 202;
    bottom: 6px;
    right: 20px; }
    .panel .trig span {
      width: 18px;
      height: 18px;
      background-position: -855px -790px;
      background-color: transparent;
      background-image: url("https://static.hdslb.com/images/base/icons.png"); }
      .panel .trig span:hover {
        background-position: -919px -790px; }

.trig span {
  display: inline-block;
  margin-left: 8px;
  border-radius: 10px;
  background: #fff;
  cursor: pointer; }

.carousel-module .panel .trig .on {
  background-position: -855px -727px;
  width: 18px;
  height: 18px; }

.popularize-module {
  margin-bottom: 1vh; }
  .popularize-module .headline {
    padding: 0 0 1vh; }
    .popularize-module .headline .icon-popular {
      width: 3vw;
      height: 7vh;
      margin-right: .5vw;
      vertical-align: middle;
      float: left;
      margin-top: -1.5vh;
      background-image: url("https://static.hdslb.com/images/base/icons.png");
      background-position: -141px -75px; }
    .popularize-module .headline span {
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      margin-right: 1.5vw;
      float: left; }
    .popularize-module .headline .fire {
      margin-top: 1vh;
      margin-left: 1vw;
      padding-right: 1vw;
      color: #6d757a;
      float: left;
      position: relative; }
      .popularize-module .headline .fire:after {
        content: "";
        position: absolute;
        height: 15px;
        right: 0;
        top: 2px;
        border-right: 1px solid #ccc; }
  .popularize-module .story-box {
    height: 23vh;
    overflow: hidden; }
    .popularize-module .story-box .spread-module {
      position: relative;
      width: 10.5vw;
      height: 20vh;
      float: left;
      margin: 0 1.3vw 2.4vh 0; }
      .popularize-module .story-box .spread-module a img {
        vertical-align: middle;
        width: 10.5vw;
        height: 14vh;
        border-radius: 4px; }
      .popularize-module .story-box .spread-module .spread-mask {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 10.5vw;
        height: 14vh;
        background: rgba(0, 0, 0, 0.2);
        transition: opacity .3s; }
        .popularize-module .story-box .spread-module .spread-mask .dis {
          display: block; }
      .popularize-module .story-box .spread-module .t {
        padding-top: 1vh;
        height: 5vh;
        line-height: 20px;
        transition: all .2s linear;
        color: #222;
        overflow: hidden;
        text-align: left; }
      .popularize-module .story-box .spread-module:hover .spread-mask {
        opacity: 1; }
      .popularize-module .story-box .spread-module:hover .t {
        color: #00a1d6; }
  .popularize-module .online {
    position: relative;
    height: 5vh;
    line-height: 34px;
    padding: 0 1vw;
    border-radius: 4px;
    text-align: center;
    background: #e5e9ef;
    white-space: nowrap; }
    .popularize-module .online a {
      color: #6d757a; }
    .popularize-module .online em {
      display: inline-block;
      border-left: 1px solid #b8c0cc;
      height: 10px;
      line-height: 10px;
      margin: 12px 15px 0;
      vertical-align: top;
      font-style: normal;
      font-weight: 400; }
  .popularize-module .adpos {
    margin-top: 1.5vh;
    border-radius: 4px;
    overflow: hidden;
    width: 17vw;
    height: 20vh;
    position: relative; }
    .popularize-module .adpos a img {
      width: 100%;
      height: 100%; }

.bili_mid .l-con {
  float: left;
  width: 59vw; }

.bili_mid .r-con {
  width: 17vw;
  float: right; }

.zone-wrap-module {
  margin-bottom: 2vh; }

.adv-module {
  margin-bottom: 20px;
  position: relative;
  width: 76vw;
  border-radius: 5px;
  max-height: 20vh; }
  .adv-module img {
    width: 100%;
    height: 100%; }

.live-module .zone-title {
  padding-right: 3vw; }
  .live-module .zone-title .headline {
    padding: 0 0 1vw; }
    .live-module .zone-title .headline i {
      width: 3vw;
      height: 7vh;
      margin-right: .6vw;
      vertical-align: middle;
      float: left;
      margin-top: -1.5vh;
      background-image: url("https://static.hdslb.com/images/base/icons.png");
      background-position: -141px -652px; }
    .live-module .zone-title .headline .z-name {
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      margin-right: 1.3vw;
      float: left;
      color: #222; }
      .live-module .zone-title .headline .z-name:hover {
        color: #00a1d6; }
    .live-module .zone-title .headline .online {
      float: left;
      margin-top: 1vh;
      color: #99a2aa; }
      .live-module .zone-title .headline .online span {
        color: #00a1d6; }
    .live-module .zone-title .headline .z-fire {
      margin-top: 1vh;
      margin-left: 3vw;
      padding-right: 1vw;
      color: #6d757a;
      float: left; }
      .live-module .zone-title .headline .z-fire i {
        display: inline-block;
        vertical-align: top;
        background-position: -665px -1113px;
        width: 14px;
        height: 14px;
        margin-top: 1px;
        background-image: url("https://static.hdslb.com/images/base/icons.png"); }
      .live-module .zone-title .headline .z-fire:hover {
        color: #00a1d6; }
